<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ai Chat Bot</title>
    <link rel="stylesheet" href="Chatbot.css">
</head>
<body>
    <div class="chat-container">
        <div class="ai-chat-box">
            <img src="../images/user.png" alt="" id="userImage" width="50">
            <div class="user-chat-area">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius a beatae dol
            </div>
        </div>
            <div class="user-chat-box">
                <img src="../images/ai.png" alt="" id="aiImage" width="70">
                <div class="ai-chat-area">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius a beatae dol
                </div>
            </div>
        
    </div>
    <div class="prompt-area">
        <input type="text" id="prompt" placeholder="Message...">
        <button id="image">
            <img src="../images/image.png" alt="">
            <input type="file" accept="images/*" hidden>
        </button>
        <button id="submit">
            <img src="../images/submit.png" alt="">
        </button>
    </div>
    <script src="Chatbot.js"></script>
</body>
</html> -->